# Dependencies
node_modules

# Build outputs
.expo/
.expo-shared/
dist/
build/

# iOS
ios/Pods/**/*
ios/build/**/*
*.xcworkspace
*.xcodeproj

# Android
android/app/build/**/*
android/build/**/*
*.apk
*.aab

# Caches
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env.local
.env.*.local

.git

assets/icons/crypto-icons

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Large assets (if you have any)
# assets/videos/**/*
# assets/large-images/**/*

# Git
.git/
.gitignore